<a href="https://colab.research.google.com/github/frank-lacriola/Data-Science-Lab/blob/main/Lab9_Regression_NY_AirBnB/Lab9_Regression_AirBnB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!wget https://github.com/dbdmg/data-science-lab/raw/master/datasets/NYC_Airbnb.zip

--2021-12-14 22:08:14--  https://github.com/dbdmg/data-science-lab/raw/master/datasets/NYC_Airbnb.zip
Resolving github.com (github.com)... 140.82.113.3
Connecting to github.com (github.com)|140.82.113.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/dbdmg/data-science-lab/master/datasets/NYC_Airbnb.zip [following]
--2021-12-14 22:08:14--  https://raw.githubusercontent.com/dbdmg/data-science-lab/master/datasets/NYC_Airbnb.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2563162 (2.4M) [application/zip]
Saving to: ‘NYC_Airbnb.zip’

NYC_Airbnb.zip      100%[===================>]   2.44M  --.-KB/s    in 0.07s

2021-12-14 22:08:15 (33.5 MB/s) - ‘NYC_Airbnb.zip’ saved [2563162/2563162]

In [2]:
!unzip "/content/NYC_Airbnb.zip"

Archive:  /content/NYC_Airbnb.zip
   creating: NYC_Airbnb/
  inflating: NYC_Airbnb/development.csv
  inflating: __MACOSX/NYC_Airbnb/._development.csv
  inflating: NYC_Airbnb/sample_submission.csv
  inflating: __MACOSX/NYC_Airbnb/._sample_submission.csv
  inflating: NYC_Airbnb/evaluation.csv
  inflating: __MACOSX/NYC_Airbnb/._evaluation.csv

In [3]:
import pandas as pd

df = pd.read_csv("/content/NYC_Airbnb/development.csv")

In [7]:
df.head()

         id  ... availability_365
0  12783632  ...              351
1   3463385  ...              263
2  17572926  ...                0
3  33913644  ...               89
4   9405895  ...              103

[5 rows x 16 columns]

In [8]:
df.describe()

                 id  ...  availability_365
count  3.911600e+04  ...      39116.000000
mean   1.901070e+07  ...        112.957613
std    1.100872e+07  ...        131.576326
min    2.595000e+03  ...          0.000000
25%    9.413194e+06  ...          0.000000
50%    1.969114e+07  ...         46.000000
75%    2.917843e+07  ...        226.000000
max    3.648724e+07  ...        365.000000

[8 rows x 10 columns]

In [13]:
df['neighbourhood'].unique()

Williamsburg          3121
Bedford-Stuyvesant    2944
Harlem                2149
Bushwick              1994
Hell's Kitchen        1585
                      ...
Silver Lake              1
Woodrow                  1
Westerleigh              1
Richmondtown             1
West Farms               1
Name: neighbourhood, Length: 221, dtype: int64

In [14]:
df['neighbourhood_group'].unique()

array(['Queens', 'Manhattan', 'Brooklyn', 'Bronx', 'Staten Island'],
      dtype=object)

We can decide to represent neighbourhood_group with integers